<!-- Start Signup Area -->
<section class="signup-area">
    <div class="row m-0">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="signup-image">
                <img src="assets/img/signup-bg.jpg" alt="image">
            </div>
        </div>

        <div class="col-lg-6 col-md-12 p-0">
            <div class="signup-content">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="signup-form">
                            <div class="logo">
                                <a href="/"><img src="assets/img/black-logo.png" alt="image"></a>
                            </div>

                            <h3>Open up your Klob Account now</h3>
                            <p>Already signed up? <a href="/#/signin">Log in</a></p>

                            <form [formGroup]="form" (ngSubmit)="submitForm()">
                                <div id="validation" class="d-none">
                                    <div>
                                        <span *ngIf="formCtrl.firstName.hasError('required')">
                                            <small class="text-danger">firstName is
                                                required</small>
                                        </span>
                                    </div>
                                    <div>

                                    </div>
                                    <span *ngIf="formCtrl.lastName.hasError('required')">
                                        <small class="text-danger">lastName is
                                            required</small>
                                    </span>
                                    <div>
                                        <span *ngIf="formCtrl.email.hasError('required')">
                                            <small class="text-danger">Email address is
                                                required</small>
                                        </span>
                                    </div>

                                    <div>
                                        <span *ngIf="formCtrl.password.hasError('required')">
                                            <small class="text-danger">password is
                                                required</small>
                                        </span>
                                    </div>

                                    <div>
                                        <span *ngIf="formCtrl.confirmPassword.hasError('required')">
                                            <small class="text-danger">confirm password is
                                                required</small>
                                        </span>
                                    </div>
                                    <div>
                                        <small class="text-danger" *ngIf="errorMsg != ''">{{errorMsg}}</small>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="firstName" name="firstName" id="firstName" formControlName="firstName"
                                        placeholder="Please type your firstname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="lastName" name="lastName" id="lastName" formControlName="lastName"
                                        placeholder="Please type your lastname" class="form-control">

                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" formControlName="email"
                                        placeholder="Please type your email" class="form-control">

                                    <span class="text-danger"
                                        *ngIf="!formCtrl.email.hasError('required') && formCtrl.email.hasError('email')">
                                        <small class="text-danger">Type valid email address</small>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" formControlName="password"
                                        placeholder="Please type your password" class="form-control">

                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword"
                                        formControlName="confirmPassword" placeholder="Please type confirm password"
                                        class="form-control">

                                    <span *ngIf="formCtrl.confirmPassword.hasError('mustMatch')">
                                        <small class="text-danger">Password must match</small>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <recaptcha [formControl]="myRecaptcha" (scriptLoad)="onScriptLoad()"
                                        (scriptError)="onScriptError()" class="d-flex justify-content-center">
                                    </recaptcha>
                                </div>

                                <button type="submit" class="btn btn-primary">Sign Up</button>

                                <div class="connect-with-social">
                                    <span>Or</span>
                                    <button type="submit" class="facebook"><i class="fab fa-facebook-square"></i>
                                        Connect with Facebook</button>
                                    <button type="submit" class="google"><i class="fab fa-google"></i> Connect with
                                        Google</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Area -->