<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-45">
          Reset Password
        </span>
        <span class="error-subheader2 p-t-20 p-b-15">
          Enter your registered email address.
        </span>
        <div class="form-group mb-5">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">
              {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="cpassword" [type]="chide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="chide = !chide">
              {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error
              *ngIf="loginForm.get('cpassword').hasError('required') || loginForm.get('cpassword').hasError('mustMatch')">
              Confirm Password is required
              <!-- <mat-error>Password must match</mat-error> -->
            </mat-error>
          </mat-form-field>
        </div>
        <div class="container-login100-form-btn">
          <button mat-flat-button color="primary" class="login100-form-btn" type="submit">
            Reset My Password
          </button>
        </div>
        <div class="w-full p-t-25 text-center">
          <div>
            <a routerLink="/authentication/signin" class="txt1">
              Login?
            </a>
          </div>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/pages/bg-02.png');">
      </div>
    </div>
  </div>
</div>