.content {
   margin: 75px 15px 0 276px;
}
.navbar {
   position: sticky !important;
   padding: 0px !important;
}
.container-fluid{
   display: block !important;
}

.navbar-brand {
   display: flex !important;
   justify-content: center;
   align-items: center;
}

