<!-- Start Fun Facts Area -->
<section class="funfacts-area ptb-70 pt-0" style="margin-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="5">5</span></h3>
                    <p>Total Users</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="3">3</span></h3>
                    <p>Total Paid Users</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-6">
                <div class="funfact">
                    <h3><span class="odometer" data-count="7">7</span></h3>
                    <p>Total Active Positions</p>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-4 col-sm-4 col-md-4 col-6">
                <div class="funfact">
                    <h3>$<span class="odometer" data-count="0">0</span></h3>
                    <p>Total Amount Invested</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-6">
                <div class="funfact">
                    <h3>$<span class="odometer" data-count="0.54">0.54</span></h3>
                    <p>Total Referral/Affiliate Commission Paid Out</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-6">
                <div class="funfact">
                    <h3>$<span class="odometer" data-count="3">3</span></h3>
                    <p>Total Withdrawn/Paid Out</p>
                </div>
            </div>
        </div>
        <!-- <div class="contact-cta-box">
            <h3>Have any question about us?</h3>
            <p>Don't hesitate to contact us</p>
            <a href="#" class="btn btn-primary">Contact Us</a>
        </div>

        <div class="map-bg">
            <img src="assets/img/map.png" alt="map">
        </div> -->
    </div>
</section>
<!-- End Fun Facts Area -->